.user-panel {
    height: 60px;
}

.user-panel>.info {
    position: relative;
    left: auto;
}
.skin-blue .sidebar-menu>li.header {
     color: white;
 }

 .login-page .main-footer {
     display: none;
 }